@model IEnumerable<PieShopDemo.Models.Pies>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:inline-block"><h2>Movie List</h2></div>
<div style="float:right;display:inline-block;margin-top:10px">

    @Html.ActionLink("New Pie +", "AddPie", "Admin", null, new { @class = "btn btn-success" })
</div>
@if (!Model.Any())
{
    <p>No Pie found!!!</p>
    <p>Visit us later</p>

}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Pie Name</th>
                <th>Pie Price</th>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    @*<td>@Html.ActionLink(item.Name, "Details", "Movie", new { id = item.Id }, null)</td>
                    <td>@item.Genre.GenreName</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>*@

                </tr>
            }


        </tbody>
    </table>
}

